/**
 * Styles for Jerek Dain's Vampire Survivors Build Tool.
 */

/* ********************* */
/* ***** VARIABLES ***** */
/* ********************* */

:root {
    /* Values from the game, or that closely mimic the game. */
    --vs-blue: #4b4f74;
    --vs-shadow: 2px 2px 5px #000;
    --vs-yellow: #fc6;

    /* Tool-specific variables */
    --page-padding: 20px;
}

/* *************************** */
/* ***** GLOBAL ELEMENTS ***** */
/* *************************** */

html, body {
    color: #ddd;
    /* The fallbacks look better, but Courier New is what the actual game uses. */
    font: 16px "Courier New", "JetBrains Mono", Consolas, "Bitstream Vera Sans Mono", monospace;
    margin: 0;
    min-height: 100%;
    padding: 0;
}
/* A gradient that imitates the BG a little: linear-gradient(180deg, #800106 0%, #120303 100%) */
html {background: #4a0106 url(../images/game-assets/introBG-enlarged.png) top / cover fixed}
body {padding: var(--page-padding)}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 10px 0; text-align: center}
h1 {font-size: 3em}
h2 {font-size: 2.5em}
h3 {font-size: 2em}
h4 {font-size: 1.7em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}

h1 {
    color: var(--vs-yellow);
    font-family: serif;
    font-weight: normal;
    margin: 0 0 var(--page-padding);
    text-shadow: var(--vs-shadow);
    text-transform: uppercase;
}

/* ********************** */
/* ***** THE FOOTER ***** */
/* ********************** */

footer {
    color: #444;
    font-weight: bold;
    margin: var(--page-padding) 0 0;
    text-align: center;
    text-shadow: var(--vs-shadow);
}
footer a {color: inherit}
footer a:hover {color: var(--vs-yellow)}

/* ************************* */
/* ***** SPRITE IMAGES ***** */
/* ************************* */

/* noinspection CssOverwrittenProperties */
.vs-sprite-image {display: inline-block; image-rendering: crisp-edges; image-rendering: pixelated}

/* ******************** */
/* ***** THE TOOL ***** */
/* ******************** */

.vsbt {
    background: var(--vs-blue);
    border: 4px solid var(--vs-yellow);
    border-radius: 4px;
    box-shadow: var(--vs-shadow);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    width: 700px;
}
