/**
 * Styles for Jerek Dain's Vampire Survivors Tools.
 */

/* ********************* */
/* ***** VARIABLES ***** */
/* ********************* */

:root {
    /* Values from the game, or that closely mimic the game. */
    --vs-arcana-height: 120px;
    --vs-arcana-width: 84px;
    --vs-blue: #4b4f74;
    --vs-button-border-size: 18;
    --vs-button-border-size-px: 18px;
    --vs-generic-border-size: 5;
    --vs-generic-border-size-px: 5px;
    --vs-char-weapon-frame-size: 42px;
    --vs-char-weapon-frame-size-x2: 84px;
    --vs-char-weapon-frame-size-x3: 126px;
    --vs-shadow: 2px 2px 5px #000;
    --vs-yellow: #fc6;

    /* Non-game variables. */
    --build-tool-margin: 50px;
    --page-padding: 20px;
}

/* ********************** */
/* ***** ANIMATIONS ***** */
/* ********************** */

@keyframes actionError {
    0% {filter: sepia(100%) brightness(50%) saturate(500%) hue-rotate(290deg)}
    33% {filter: sepia(100%) brightness(50%) saturate(500%) hue-rotate(290deg)}
    34% {filter: none}
    65% {filter: none}
    66% {filter: sepia(100%) brightness(50%) saturate(500%) hue-rotate(290deg)}
    100% {filter: sepia(100%) brightness(50%) saturate(500%) hue-rotate(290deg)}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* *************************** */
/* ***** GLOBAL ELEMENTS ***** */
/* *************************** */

/* Pixelate all scaled images. */
/* noinspection CssOverwrittenProperties */
* {image-rendering: crisp-edges; image-rendering: pixelated}

html, body {
    color: #ddd;
    /* The fallbacks look better, but Courier New is what the actual game uses. */
    font: 16px "Courier New", "JetBrains Mono", Consolas, "Bitstream Vera Sans Mono", monospace;
    margin: 0;
    min-height: 100%;
    padding: 0;
}
/* A gradient that imitates the BG a little: linear-gradient(180deg, #800106 0%, #120303 100%) */
html {background: #4a0106 url(../game-assets/img/introBG.png) top / cover fixed}
body {padding: var(--page-padding)}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 10px 0; text-align: center}
h1 {font-size: 3em}
h2 {font-size: 2.5em}
h3 {font-size: 2em}
h4 {font-size: 1.7em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}

h1 {
    color: var(--vs-yellow);
    font-family: serif;
    font-weight: normal;
    margin: 0 0 var(--page-padding);
    text-shadow: var(--vs-shadow);
    text-transform: uppercase;
}
@media screen and (max-width: 900px) {
    h1 {font-size: 2.5em}
}
@media screen and (max-width: 730px) {
    h1 {font-size: 2em}
}
@media screen and (max-width: 600px) {
    h1 {margin-left: auto; margin-right: auto; max-width: 340px}
}
@media screen and (max-width: 370px) {
    h1 {font-size: 1.8em}
}

a {color: var(--vs-yellow); text-decoration: none}
a:hover {color: #fff}
a:focus-visible {outline: none; text-decoration: underline}

/* ********************** */
/* ***** THE FOOTER ***** */
/* ********************** */

footer {
    color: #808080;
    font-size: 10px;
    font-weight: bold;
    margin: var(--page-padding) 0 0;
    text-align: center;
}
footer a {color: inherit; text-decoration: underline}
footer a:focus-visible {color: #fff}
footer a:hover {color: var(--vs-yellow)}

/* ************************* */
/* ***** SPRITE IMAGES ***** */
/* ************************* */

.vs-sprite-image-wrapper {align-items: flex-end; display: flex; justify-content: flex-end}
.vs-sprite-image {display: inline-block}

/* ******************* */
/* ***** BUTTONS ***** */
/* ******************* */

/* ======= */
/* GENERAL */
/* ======= */

.vs-button {
    border: var(--vs-button-border-size-px) solid transparent;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}
.vs-button:focus-visible {border-radius: 8px; box-shadow: 0 0 0 2px #000; outline: none; text-decoration: none}

/* ====== */
/* COLORS */
/* ====== */

.vs-button[data-color="blue"] {
    border-image: url(../game-assets/img/UI/button_c9_normal_x2.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="blue"]:hover {
    border-image: url(../game-assets/img/UI/button_c9_mouseover_x2.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="blue"]:active {
    border-image: url(../game-assets/img/UI/button_c9_pressed_x2.png) var(--vs-button-border-size) fill;
}

.vs-button[data-color="green"] {
    border-image: url(../game-assets/img/UI/button_c5_normal_x2.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="green"]:hover {
    border-image: url(../game-assets/img/UI/button_c5_mouseover_x2.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="green"]:active {
    border-image: url(../game-assets/img/UI/button_c5_pressed_x2.png) var(--vs-button-border-size) fill;
}

.vs-button[data-color="red"] {
    border-image: url(../game-assets/img/UI/button_c8_normal_x2.png) var(--vs-button-border-size) fill;
}

/* ====== */
/* STYLES */
/* ====== */

.vs-button[data-style="default-case"] {text-transform: none}

.vs-button[data-style="small"] {font-size: 12px; line-height: 0; text-transform: none}

/* ============ */
/* BUTTON LISTS */
/* ============ */

.vs-button-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0 !important; /* To override :last-child margin removal. */
}

.vs-button-list .vs-button {min-width: 180px; text-align: center}
.vs-button-list .vs-button[data-style="small"] {min-width: 130px}
.vs-button-list > :not(:first-child) {margin-top: 20px}

.vs-button-list[data-context="nav"] {align-items: flex-start; flex-direction: row; margin: 0 !important}

/* ****************** */
/* ***** LAYOUT ***** */
/* ****************** */

.vst {
    background: var(--vs-blue);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 700px;
    padding: 10px;
    position: relative;
}

@media screen and (max-width: 439px) {
    body {padding: 10px}
}

.vst:before {
    --border-offset: -4px;
    border: 15px solid transparent;
    border-image: url(../game-assets/img/UI/frame5_c4.png) 15 fill;
    bottom: var(--border-offset);
    content: "";
    display: block;
    left: var(--border-offset);
    position: absolute;
    right: var(--border-offset);
    top: var(--border-offset);
    z-index: 1;
}

.vst-container {position: relative; z-index: 2}
.vst-container > h2:first-child {margin-top: 0}
.vst-container > :last-child {margin-bottom: 0}

/* ******************** */
/* ***** ENTITIES ***** */
/* ******************** */

/* ======= */
/* GENERAL */
/* ======= */

.vs-entity, .vs-entity-content {display: block; position: relative}
a.vs-entity {cursor: pointer}
.vs-entity .vs-sprite-image {display: block}

/* ============== */
/* SELECTION FADE */
/* ============== */

.vs-entity > .vs-entity-content {transition: opacity 150ms, filter 150ms}
.vs-entity[data-selected="true"] > .vs-entity-content {filter: grayscale(1) brightness(0.65); opacity: .5}

/* ==================== */
/* SELECTION INDICATORS */
/* ==================== */

.vs-entity-content:after {
    --border-size: 7;
    --border-size-px: 12px;
    --offset: -2px;
    border: var(--border-size-px) solid transparent;
    border-image: url(../game-assets/img/UI/selectionSquareActive_01.png) var(--border-size) fill;
    bottom: var(--offset);
    content: "";
    display: block;
    left: var(--offset);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: var(--offset);
    top: var(--offset);
    transition: 150ms;
}
.vs-entity[data-selected="true"] > .vs-entity-content:after {opacity: 1}

/* =========== */
/* ERROR FLASH */
/* =========== */

.vs-entity[data-animation="error"] {animation: actionError 300ms}

/* ******************** */
/* ***** TOOLTIPS ***** */
/* ******************** */

.vst-tooltip {
    bottom: 100%;
    box-sizing: border-box;
    cursor: default;
    display: none;
    font-size: 12px;
    font-weight: normal;
    height: auto;
    left: 0;
    min-width: 175px;
    padding: 7px 8px;
    pointer-events: none;
    position: absolute;
    width: auto;
    z-index: 100;
}

.vst-tooltip:after {
    border: var(--vs-generic-border-size-px) solid transparent;
    border-image: url(../game-assets/img/UI/frame1_c4.png) var(--vs-generic-border-size) fill;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.vs-entity:hover > .vst-tooltip {
    display: block;
}

.vst-tooltip-name {font-size: 14px; font-weight: 600}
.vst-tooltip-name:not(:last-child) {margin-bottom: 10px}

.vst-tooltip-items {font-weight: bold; margin-top: 10px}
.vst-tooltip-items-row {align-items: center; display: flex; flex-wrap: wrap}
.vst-tooltip-items-row > * {margin: 3px}
.vst-tooltip-items-row[data-spacing="reduced"] > * {margin: 1px}
.vst-tooltip-items-row[data-spacing="none"] > * {margin: 0}
.vst-tooltip-items-row > *[data-highlight="true"]:before {
    --offset: -2px;
    background: #a5a64c;
    border-radius: 100%;
    bottom: var(--offset);
    content: "";
    display: block;
    left: var(--offset);
    position: absolute;
    right: var(--offset);
    top: var(--offset);
}

.vst-tooltip[data-meta-type="arcana"] .vst-tooltip-items-row {justify-content: center}
.vst-tooltip[data-meta-type="item"] .vst-tooltip-items-row .vs-entity {padding: 2px}

/* ********************** */
/* ***** CHARACTERS ***** */
/* ********************** */

.vs-entity[data-type="character"],
.vs-entity[data-type="character"] > .vs-entity-content {
    height: 96px;
    width: 96px;
}
.vs-entity[data-type="character"] > .vs-entity-content {color: #fff; font-size: 12px; font-weight: bold}
.vs-entity[data-type="character"] > .vs-entity-content > * {position: absolute}
.vs-char-box-bg {
    border: var(--vs-generic-border-size-px) solid transparent;
    border-image: url(../game-assets/img/UI/frame1_c2.png) var(--vs-generic-border-size) fill;
    bottom: 0;
    left: 0;
    pointer-events: none;
    right: 0;
    top: 0;
}
.vs-char-box-name {
    left: 6px;
    text-shadow: 1px 1px 1px #8b8b8b;
    top: 5px;
    z-index: 1;
}
/* At 159px width every character perfectly matches the in-game text, except for Arca, who needs 158px. It's not set to
 * 158px for everyone because then Smith & Red Death would be wrong. */
.vs-char-box-description {left: 120px; top: 37px}
.vs-char-box-description,
.vs-entity[data-type="character"] > .vst-tooltip {
    width: 159px;
}
/* Arca Ladonna */
.vs-entity[data-type="character"][data-id="5"] > .vs-entity-content > .vs-char-box-description,
.vs-entity[data-type="character"][data-id="5"] > .vst-tooltip {
    width: 158px;
}
/* Sir Ambrojoe */
.vs-entity[data-type="character"][data-id="21"] > .vs-entity-content > .vs-char-box-description,
.vs-entity[data-type="character"][data-id="21"] > .vst-tooltip {
    width: 166px;
}
.vs-char-box-image {bottom: 5px; left: 6px; pointer-events: none}
.vs-char-box-weapons {
    align-content: flex-end;
    bottom: 11px;
    display: flex;
    filter: drop-shadow(3px 3px 0 #000);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: 11px;
    top: 0;
    z-index: 2;
}
.vs-char-box-weapons[data-count="2"] .vs-entity[data-meta-type="item"] {margin: 2px 0 0 2px}
.vs-char-box-button {bottom: 7px; position: absolute; right: 7px}

/* Only allow hovering over the character's weapons for tooltips in the large detail view. */
.vs-entity[data-type="character"]:not([data-mode="details"]) .vs-entity[data-meta-type="item"] {pointer-events: none}

/* ============= */
/* MODE: DEFAULT */
/* ============= */

.vs-entity[data-type="character"][data-mode="default"] > .vs-entity-content > .vs-char-box-name span {display: none}
.vs-entity[data-type="character"][data-mode="default"] > .vs-entity-content > .vs-char-box-description {display: none}

/* ============= */
/* MODE: DETAILS */
/* ============= */

.vs-entity[data-type="character"][data-mode="details"],
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content {
    height: 100px;
    max-width: 400px;
    width: 100%;
}
@media screen and (max-width: 419px) {
    .vs-entity[data-type="character"][data-mode="details"] {
        display: flex;
        justify-content: center;
        margin: 0 -12%;
        max-width: 124%;
        transform: scale(0.8);
        width: 124%;
    }
}
@media screen and (max-width: 349px) {
    .vs-entity[data-type="character"][data-mode="details"] {
        margin: 0 -24%;
        max-width: 148%;
        transform: scale(0.6);
        width: 148%;
    }
}
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons {
    bottom: 7px;
    filter: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: 70px;
    right: auto;
    transform-origin: bottom;
    width: var(--vs-char-weapon-frame-size);
}

/**
 * We already have Pugnala who starts with two weapons, so these styles are in preparation of up to 6 starting weapons.
 */
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="2"] {
    transform: scale(.85);
}
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="3"],
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="4"] {
    left: 40px;
    transform: scale(.7);
    width: var(--vs-char-weapon-frame-size-x2);
}
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="5"],
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="6"] {
    left: 40px;
    transform: scale(.58);
    width: var(--vs-char-weapon-frame-size-x2);
}
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="3"] > :first-child,
.vs-entity[data-type="character"][data-mode="details"] > .vs-entity-content > .vs-char-box-weapons[data-count="5"] > :first-child {
    /* noinspection CssNonIntegerLengthInPixels */
    flex: 0 0 42.1px;
}

/* ***************** */
/* ***** ITEMS ***** */
/* ***************** */

.vs-entity[data-meta-type="item"]:not([data-mode="default"]) > .vs-entity-content {
    height: var(--vs-char-weapon-frame-size);
    width: var(--vs-char-weapon-frame-size);
}
.vs-entity[data-meta-type="item"]:not([data-mode="default"]) > .vs-entity-content:before {
    background: url(../game-assets/img/UI/frameB.png) center / 100% 100%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.vs-entity[data-meta-type="item"] .vs-sprite-image {position: relative; z-index: 1}

/* ****************** */
/* ***** BUILDS ***** */
/* ****************** */

/* Hide section headings when their data has been selected. */
body[data-page="build"] .vst-container > section[data-selected="true"] > h2 {
    display: none;
}

body[data-page="build"] section {margin: 10px 0; transition: margin 150ms}
body[data-page="build"] section:not([data-selected="true"]) {margin: 50px 0}
body[data-page="build"] section:not([data-section="character"]) h2 {margin: 0}
section[data-section="character"] {display: block; margin-top: var(--build-tool-margin) !important}
section[data-section="character"][data-selected="true"] ~ section:last-child {
    margin-bottom: var(--build-tool-margin) !important;
}

/* Sections other than characters are hidden until a character is selected. */
section[data-section="character"]:not([data-selected="true"]) ~ section {display: none}

/* **************************** */
/* ***** BUILDS: ENTITIES ***** */
/* **************************** */

/* ======== */
/* SELECTED */
/* ======== */

.vst-build-selected {display: flex; flex-wrap: wrap; justify-content: center}
.vst-build-selected-slot {margin: 2px}
.vst-build-selected .vs-entity .vs-sprite-image {animation: fadeIn 150ms}

/* ==== */
/* LIST */
/* ==== */

.vst-build-list {display: flex; flex-wrap: wrap; justify-content: center; margin: 0 auto}
section[data-selected="true"] .vst-build-list {display: none}
.vst-build-list > .vs-entity {margin: 2px}

/* ***************************** */
/* ***** BUILDS: CHARACTER ***** */
/* ***************************** */

.vst-build-list[data-section="character"] {padding-bottom: 20px}
.vst-build-list[data-section="character"] > .vs-entity {margin: 5px}

/* ************************* */
/* ***** BUILDS: ITEMS ***** */
/* ************************* */

.vst-build-selected[data-section="weapons"] .vst-build-selected-slot,
.vst-build-selected[data-section="passives"] .vst-build-selected-slot {
    height: 42.6666px !important;
    width: 42.6666px !important;
}

.vst-build-selected[data-section="weapons"] .vs-entity > .vs-entity-content:before {
    background: url(../game-assets/img/UI/weaponBG.png) no-repeat center / 38px 38px;
}
.vst-build-selected[data-section="passives"] .vs-entity > .vs-entity-content:before {
    background: url(../game-assets/img/UI/passiveBG.png) no-repeat center / 38px 38px;
}

/* *************************** */
/* ***** BUILDS: ARCANAS ***** */
/* *************************** */

.vst-build-selected[data-section="arcanas"] .vst-build-selected-slot,
.vst-build-selected[data-section="arcanas"] .vs-entity[data-type="arcana"],
.vst-build-list[data-section="arcanas"] > .vs-entity[data-type="arcana"] {
    height: var(--vs-arcana-height);
    width: var(--vs-arcana-width);
}

.vst-build-selected[data-section="arcanas"] .vst-build-selected-slot:empty {
    background: url(../game-assets/img/randomazzo/back.png) center / 100% 100%;
}
