/**
 * Styles for Jerek Dain's Vampire Survivors Tools.
 */

/* ********************* */
/* ***** VARIABLES ***** */
/* ********************* */

:root {
    /* Values from the game, or that closely mimic the game. */
    --vs-blue: #4b4f74;
    --vs-button-border-size: 9;
    --vs-button-border-size-px: 9px;
    --vs-char-bg-border-size: 5;
    --vs-char-bg-border-size-px: 5px;
    --vs-shadow: 2px 2px 5px #000;
    --vs-weapon-frame-size: 42px;
    --vs-weapon-frame-size-x2: 84px;
    --vs-weapon-frame-size-x3: 126px;
    --vs-yellow: #fc6;

    /* Tool-specific variables */
    --page-padding: 20px;
}

/* *************************** */
/* ***** GLOBAL ELEMENTS ***** */
/* *************************** */

/* Pixelate all scaled images. */
/* noinspection CssOverwrittenProperties */
* {image-rendering: crisp-edges; image-rendering: pixelated}

html, body {
    color: #ddd;
    /* The fallbacks look better, but Courier New is what the actual game uses. */
    font: 16px "Courier New", "JetBrains Mono", Consolas, "Bitstream Vera Sans Mono", monospace;
    margin: 0;
    min-height: 100%;
    padding: 0;
}
/* A gradient that imitates the BG a little: linear-gradient(180deg, #800106 0%, #120303 100%) */
html {background: #4a0106 url(../images/game-assets/introBG-enlarged.png) top / cover fixed}
body {padding: var(--page-padding)}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 10px 0; text-align: center}
h1 {font-size: 3em}
h2 {font-size: 2.5em}
h3 {font-size: 2em}
h4 {font-size: 1.7em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}

h1 {
    color: var(--vs-yellow);
    font-family: serif;
    font-weight: normal;
    margin: 0 0 var(--page-padding);
    text-shadow: var(--vs-shadow);
    text-transform: uppercase;
}

a {color: var(--vs-yellow); text-decoration: none}
a:hover {color: #fff}
a:focus-visible {outline: none; text-decoration: underline}

/* ********************** */
/* ***** THE FOOTER ***** */
/* ********************** */

footer {
    color: #808080;
    font-size: 10px;
    font-weight: bold;
    margin: var(--page-padding) 0 0;
    text-align: center;
}
footer a {color: inherit; text-decoration: underline}
footer a:focus-visible {color: #fff}
footer a:hover {color: var(--vs-yellow)}

/* ************************* */
/* ***** SPRITE IMAGES ***** */
/* ************************* */

.vs-sprite-image-wrapper {align-items: flex-end; display: flex; justify-content: flex-end}
.vs-sprite-image {display: inline-block}

/* ******************* */
/* ***** BUTTONS ***** */
/* ******************* */

.vs-button {
    border: var(--vs-button-border-size-px) solid transparent;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
.vs-button:focus-visible {border-radius: 8px; box-shadow: 0 0 0 2px #000; outline: none; text-decoration: none}

.vs-button[data-color="blue"] {
    border-image: url(../game-assets/img/UI/button_c9_normal.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="blue"]:hover {
    border-image: url(../game-assets/img/UI/button_c9_mouseover.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="blue"]:active {
    border-image: url(../game-assets/img/UI/button_c9_pressed.png) var(--vs-button-border-size) fill;
}

.vs-button[data-color="green"] {
    border-image: url(../game-assets/img/UI/button_c5_normal.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="green"]:hover {
    border-image: url(../game-assets/img/UI/button_c5_mouseover.png) var(--vs-button-border-size) fill;
}
.vs-button[data-color="green"]:active {
    border-image: url(../game-assets/img/UI/button_c5_pressed.png) var(--vs-button-border-size) fill;
}

.vs-button[data-color="red"] {
    border-image: url(../game-assets/img/UI/button_c8_normal.png) var(--vs-button-border-size) fill;
}

/* ============ */
/* BUTTON LISTS */
/* ============ */

.vs-button-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0 !important; /* To override :last-child margin removal. */
}

.vs-button-list > .vs-button {min-width: 165px; text-align: center}
.vs-button-list > :not(:first-child) {margin-top: 20px}

/* ****************** */
/* ***** LAYOUT ***** */
/* ****************** */

.vst {
    background: var(--vs-blue);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 700px;
}

.vst:before {
    --border-offset: -4px;
    border: 15px solid transparent;
    border-image: url(../game-assets/img/UI/frame5_c4.png) 15 fill;
    bottom: var(--border-offset);
    content: "";
    display: block;
    left: var(--border-offset);
    position: absolute;
    right: var(--border-offset);
    top: var(--border-offset);
    z-index: 1;
}

.vst-container {position: relative; z-index: 2}
.vst-container > h2:first-child {margin-top: 0}
.vst-container > :last-child {margin-bottom: 0}

/* ***************** */
/* ***** PAGES ***** */
/* ***************** */

body[data-page="index"] .vst-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

body[data-page="index"] .vst-nav > .vs-button {min-width: 165px; text-align: center}
body[data-page="index"] .vst-nav > :not(:first-child) {margin-top: 20px}

/* ************************* */
/* ***** CHARACTER BOX ***** */
/* ************************* */

.vs-char-box {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 96px;
    position: relative;
    width: 96px;
}
a.vs-char-box {cursor: pointer}
a.vs-char-box:hover:after,
a.vs-char-box:focus-visible:after {
    /* The selection indicators in the corners. */
    --border-size: 7;
    --border-size-px: 12px;
    --offset: -6px;
    border: var(--border-size-px) solid transparent;
    border-image: url(../game-assets/img/UI/selectionSquareActive_01.png) var(--border-size) fill;
    bottom: var(--offset);
    content: "";
    display: block;
    left: var(--offset);
    pointer-events: none;
    position: absolute;
    right: var(--offset);
    top: var(--offset);
}
.vs-char-box > * {position: absolute}
.vs-char-box-bg {
    border: var(--vs-char-bg-border-size-px) solid transparent;
    border-image: url(../game-assets/img/UI/frame1_c2.png) var(--vs-char-bg-border-size) fill;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.vs-char-box-name {
    left: 6px;
    text-shadow: 1px 1px 1px #8b8b8b;
    top: 5px;
    z-index: 1;
}
/* At 159px width every character perfectly matches the in-game text, except for Arca, who needs 158px. It's not set to
 * 158px for everyone because then Smith & Red Death would be wrong. */
.vs-char-box-description {left: 120px; top: 37px; width: 159px}
.vs-char-box[data-character="5"] .vs-char-box-description {width: 158px}
.vs-char-box-image {bottom: 5px; left: 6px}
.vs-char-box-weapons {
    align-content: flex-end;
    bottom: 11px;
    display: flex;
    filter: drop-shadow(3px 3px 0 #000);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: 11px;
    top: 0;
}
.vs-char-box-weapons-frame {display: contents}
.vs-char-box-weapons[data-count="2"] .vs-char-box-weapons-frame .vs-sprite-image {margin: 2px 0 0 2px}
.vs-char-box-button {bottom: 7px; position: absolute; right: 7px}

/* ============= */
/* MODE: DEFAULT */
/* ============= */

.vs-char-box[data-mode="default"] > .vs-char-box-name span {display: none}
.vs-char-box[data-mode="default"] > .vs-char-box-description {display: none}

/* ============= */
/* MODE: DETAILS */
/* ============= */

.vs-char-box[data-mode="details"] > .vs-char-box-weapons {
    bottom: 7px;
    filter: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    left: 70px;
    right: auto;
    transform-origin: bottom;
    width: var(--vs-weapon-frame-size);
}
.vs-char-box[data-mode="details"] > .vs-char-box-weapons .vs-char-box-weapons-frame {
    align-items: center;
    background: url(../game-assets/img/UI/frameB.png) center / 100% 100%;
    display: flex;
    height: var(--vs-weapon-frame-size);
    justify-content: center;
    width: var(--vs-weapon-frame-size);
}

/**
 * We already have Pugnala who starts with two weapons, so these styles are in preparation of up to 6 starting weapons.
 */
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="2"] {
    transform: scale(.85);
}
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="3"],
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="4"] {
    left: 40px;
    transform: scale(.7);
    width: var(--vs-weapon-frame-size-x2);
}
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="5"],
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="6"] {
    left: 40px;
    transform: scale(.58);
    width: var(--vs-weapon-frame-size-x2);
}
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="3"] > :first-child,
.vs-char-box[data-mode="details"] > .vs-char-box-weapons[data-count="5"] > :first-child {
    /* noinspection CssNonIntegerLengthInPixels */
    flex: 0 0 42.1px;
}
.vs-char-box[data-mode="details"] > .vs-button {font-weight: normal}

/* ============= */
/* MODE: TOOLTIP */
/* ============= */

.vs-char-box[data-mode="tooltip"] {
    bottom: 100%;
    cursor: default;
    display: none;
    height: auto;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: auto;
    z-index: 100;
}
.vs-char-box:hover .vs-char-box[data-mode="tooltip"][data-has-description="true"],
.vs-char-box:focus-visible .vs-char-box[data-mode="tooltip"][data-has-description="true"] {
    display: block;
}

.vs-char-box[data-mode="tooltip"] > * {display: none}
.vs-char-box[data-mode="tooltip"] > .vs-char-box-description {display: block; margin: 7px 8px; position: static}
.vs-char-box[data-mode="tooltip"] > .vs-char-box-bg {
    /* TODO: IF this included the name, we'd change the text shadow to this color, to match the BG. Save for later. */
    /* .vs-char-box[data-mode="tooltip"] > .vs-char-box-name {text-shadow: 1px 1px 1px #4b4f74} */

    border-image: url(../game-assets/img/UI/frame1_c4.png) var(--vs-char-bg-border-size) fill;
    display: block;
    z-index: -1;
}

/* ****************** */
/* ***** BUILDS ***** */
/* ****************** */

/* Hide section headings when their data has been selected. */
body[data-page="build"] .vst-container > section[data-selected="true"] > h2:first-child {
    display: none;
}

/* ****************************** */
/* ***** BUILDS: CHARACTERS ***** */
/* ****************************** */

.vst-build-chars {display: flex; flex-wrap: wrap; justify-content: center; padding-bottom: 20px}
body[data-page="build"] section[data-section="characters"] .vs-char-box[data-mode="default"] {margin: 5px}
body[data-page="build"] section[data-selected="true"] .vst-build-chars .vs-char-box {
    display: none;
}
body[data-page="build"] section[data-selected="true"] .vst-build-chars .vs-char-box[data-selected="true"] {
    display: block;
}
